<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert Transportation</title>

</head>
<body>
<div layout:fragment="content">
	<div class="form-horizontal">
		<div class="container">
			<div class="col-md-12 col-md-offset-0">
				<h2 align="center">交通費管理</h2>

				<form id="sampleForm" action="/insert" method="post" name="formtest">
					<table style="margin-left: auto; margin-right: auto;">
						<tr>
							<td><label class="col-sm-12 control-label">担当者</label></td>
							<td>	
							<select class="form-control" name="PersonID" th:value="${PersonID}">
							<option 
							      th:each="duty : ${dutyInfo}"
							      th:value="${duty.PersonID}"
							      th:text="${duty.PersonName}"
							      th:selected="${duty.PersonID == PersonID}" >
							      
							</option>
							</select>	
							</td>
							
							<td></td>
							<td><label class="col-sm-12 control-label">利用日</label></td>
							<td><input type="date" class="form-control" placeholder="UseDate" name="UseDate" th:value="${UseDate}"></td>
						</tr>
						
						<tr>
							<td><label class="col-sm-12 control-label">出発駅</label></td>
							<td><input type="text" class="form-control" placeholder="駅" name="DepartureStation" th:value="${DepartureStation}"></td>
							<td></td>
							<td><label class="col-sm-12 control-label">到着駅</label></td>
							<td><input type="text" class="form-control" placeholder="駅" name="ArrivalStation" th:value="${ArrivalStation}"></td>
						</tr>
						<tr>
							<td><label class="col-sm-12 control-label">金額</label></td>
							<td><input type="text" class="form-control" name="Fare" placeholder="cost" th:value="${Fare}" ></td>
							
							<td>
							<button type="submit" class="btn btn-default" value="search" name="search" >交通費検索</button>
							</td>
							<td><label class="col-sm-12 control-label">移動目的</label></td>
							<td><input type="text" class="form-control" placeholder="Purpose" name="Purpose" th:value="${Purpose}"></td>
						</tr>
						
						<tr>
							<td></td>
							<td></td>
							<td>
								<button type="reset" class="btn btn-primary" name="clear" value="clear">クリア</button>
								<input type="submit" class="btn btn-primary" name="create" value="入力"/>
							</td>
						</tr>
						
						<tr th:each="duty : ${dutyInfo}" th:object="${dutyInfo}">
						<td th:text="${duty.PersonID}"></td>
       					<td th:text="${duty.PersonName}"></td>
						</tr>
						
						<tr>
						<td><input th:value="${PersonID}" /></td>
						</tr>
						
					</table>
					
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>