<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
	<div class="form-horizontal">
		<div class="container">
			<div class="col-md-12 col-md-offset-0">
			
			<h2 align="center">交通費一覧</h2><br>
			<div style="float:left;">
				<table>
					<tr>
						<th>担当者</th>
						<th>
						<select>
							<option>
							</option>
						</select></th>
					</tr>
					<tr>
						<th>利用日</th>
						<th><input type="date" class="form-control"></th>
						<th>&nbsp;&nbsp;~&nbsp;&nbsp;</th>
						<th><input type="date" class="form-control"></th>
						<th><input type="button" class="btn btn-primary" name="find" value="検索"></th>
					</tr>
				</table>
			</div>
			<div style="float:right;">
				<table>
					<tr><th><input style="text-align:center; width:70px; height:30px;" type="button" class="btn btn-primary" name="ListALL" value="ALL"></th></tr>
					<tr><th><input style="text-align:center; width:70px; height:30px;" type="button" class="btn btn-primary" name="find" value="Create"></th></tr>
				</table>
			</div>
				<table class="table table-striped">
                    <thead>
                        <tr>
                           <th class="text-right" name="PersonName">担当者</th>
                            <th class="text-right">利用日</th>
                            <th class="text-right">出発駅</th>
                            <th class="text-right">到着駅</th>
                            <th class="text-right">利用目的</th>
                            <th class="text-right">金額(円)</th>
                        </tr>
                    </thead>	
                    <tbody>
                    	
                        <tr class="text-right" th:each="fare : ${FareInfo}">
							<td th:text="${fare.PersonName}"></td>
							<td th:text="${fare.UseDate}"></td>
                        	<td th:text="${fare.Departure_Station}"></td>
                        	<td th:text="${fare.Arrival_Station}"></td>
                        	<td th:text="${fare.Purpose}"></td>
                        	<td th:text="${fare.Fare}"></td>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="2">合計</td>
                            <td class="text-right" th:text="${Total}"></td>
                        </tr>
                        <!-- 
                        <tr>
                           <td colspan="3"></td>
                           <td colspan="3"><input class="btn btn-primary" type="button" value="戻る" onclick="history.back(-1);"></td>
                       </tr>
                        -->
  	                  </tfoot>
                </table>   
                 <div style="width:100%;height:100%;position:absolute;vertical-align:middle;text-align:center;">
                <form id="sampleForm" action="/back" method="post" >
    			 <input type="submit" class="btn btn-primary" name="create" value="戻る"/> 
			    </form>
				</div>      
			</div>
		</div>
	</div>
</div>
</body>
</html>