<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>交通費一覧画面</title>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
<body>

<div layout:fragment="content">
	<div class="form-horizontal">
		<div class="container">
			<div class="col-md-12 col-md-offset-0">
			
			<h2 align="center">交通費一覧</h2><br>
			<div style="float:left;">
				<form id="sampleForm" action="/searchItem" method="post" th:object="${finfo}">
				<table>
					<tr>
						<th>担当者</th>
						<th>
						<select  id="infolist" class="form-control" name="PersonID" th:value="${finfo.PersonID}">
						<option value="0" >All</option>
							<option 
							      th:each="duty : ${dutyInfo}"
							      th:value="${duty.PersonID}"
							      th:text="${duty.PersonName}"
							      th:selected="${duty.PersonID == finfo.PersonID}" >
							      
							</option>
							</select>	
						</th>
					</tr>
					<tr>
						<th>利用日</th>
						<th><input type="date" class="form-control" name="UseDate"  th:value="${finfo.UseDate}" ></th>
						<th>&nbsp;&nbsp;~&nbsp;&nbsp;</th>
						<th><input type="date" class="form-control" name="EndDate"  th:value="${finfo.EndDate}" ></th>
						<th><input type="submit" class="btn btn-primary" name="find" value="検索"></th>
					</tr>
				</table>
				</form>
			</div>
			
			
				<table class="table table-striped" id="test">
                    <thead>
                        <tr>
                           <th class="text-right" >担当者</th>
                           <th class="text-right">利用日</th>
                           <th class="text-right">出発駅</th>
                           <th class="text-right">到着駅</th>
                           <th class="text-right">利用目的</th>
                           <th class="text-right">金額(円)</th>
                           <th class="text-right">備考</th>
                        </tr>
                    </thead>	
                    <tbody>
                    	
                        <tr class="text-right" th:each="fare : ${FareInfo}">
							<td th:text="${fare.PersonName}"></td>
							<td th:text="${fare.UseDate}"></td>
                        	<td th:text="${fare.Departure_Station}"></td>
                        	<td th:text="${fare.Arrival_Station}"></td>
                        	<td th:text="${fare.Purpose}"></td>
                        	<td th:text="${fare.Fare}"></td>
                        	<td><a th:href="@{/delete(id=${fare.FareID})}">Delete</a></td>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="2">合計</td>
                            <td class="text-right" th:text="${Total}"></td>
                            <td colspan="1"></td>
                        </tr>
  	                </tfoot>
                </table>        
                
                <div style="float:right;">
					<form id="sampleForm" action="/TransportationList">
						<table>
							<tr>
								<th><input style="text-align:center; width:70px; height:30px;" type="button" class="btn btn-primary"  value="Write"
										   name="find" onclick="location.href='/'"></th>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>